/* Header.css */

.fixedHeader {
    @apply fixed z-[99] w-full h-min bg-c-back2 ;
}

.headerContainer {
    border-bottom: #4A4A4B 1px solid;
    @apply mx-auto w-full px-[10%] h-[60px] flex justify-between items-center text-sm sm:text-xl font-yekan font-sb;
}
.downHeader{
    border-bottom: #4A4A4B 1px solid;
    @apply mx-auto w-full px-[10%] h-[30px] flex justify-between items-center text-sm sm:text-sm font-yekan font-sb text-c-text3 ;
    
}
.downHeader *{
  @apply  hover:text-c-text1;
}
.logo {
    @apply font-bl text-3xl text-c-text1;
}

.logo b {
    @apply font-eb text-3xl text-c-prim;
}

.nav-links {
    @apply w-[220px] sm:w-[400px] flex flex-row-reverse items-center justify-between ;
}
.nav-links a{
    @apply text-c-text2 text-xs sm:text-xl;
    transition:all 500ms ease-in-out;
}
.nav-links a:hover {
    @apply text-c-text1;
    transition:all 250ms ease-in-out;
}